.dotStyle {
    border: 1px solid var(--ion-color-success);
    padding: 0 0.1rem; // top right bottom left
    margin-right: 2vw;
}

ion-item {
    letter-spacing: 0.5px;
}
ion-text {
    font-size: 0.8rem;
}
ion-label {
    font-size: 0.86rem;
}
ion-row {
    border: 1px solid var(--ion-color-medium);
    border-radius: 2px;
    padding: 0.3rem;
    margin-right: 1vw;
}
h5 {
    font-weight: bold;
}

.quantity {
    width: 2rem;
}

.price {
    width: 4rem;
}